@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.boardList-wrapper{
  opacity: 0;
  animation: smoothAppear 1.5s forwards;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  .boardList-header{
    color: midnightblue;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .boardList-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boardList-footer{
    margin: 1.5rem;
  }
}
