@media all and (min-width: 1024px) {
  .card-wrapper {
    width: 300px;
    height: 600px;

    &:hover {
      width: 310px;
      height: 610px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

@media all and (max-width: 1024px) {
  .card-wrapper {
    width: 270px;
    height: 540px;

    &:hover {
      width: 280px;
      height: 550px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

@media all and (max-width: 768px) {
  .card-wrapper {
    width: 240px;
    height: 480px;

    &:hover {
      width: 250px;
      height: 490px;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
  }
}

.card-wrapper {
  flex-shrink: 0;
  margin: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 1s, height 1s, box-shadow 1s;
  cursor: pointer;
  .card-body-img {
    width: 100%;
    height: 60%;
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-body-text {
    flex-grow: 1;
    word-break: break-all;
    overflow: auto;
    padding: 0.6rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .card-body-text-title {
      font-size: 1.3rem;
      color: darkslategray;
      font-weight: bold;
    }
  }

  .card-footer {
    border-top: 0.5px solid black;
    padding: 0.6rem;
    font-weight: 200;
    display: flex;
    color: #282c34;
    font-size: 1.1rem;
    justify-content: space-between;
  }
}
