@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@media all and (min-width: 1024px){
  html{
    font-size: 100%
  }
}

@media all and (max-width: 1024px) {
  html{
    font-size: 85%;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media all and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
body {
  margin: 0;
  padding-top: 10rem;
  background-color: rgb(231, 235, 240);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}